<h1> <%= @cat.name %> </h1>
  <!-- <br>
  age: <%= @cat.age %>
  <br>
  sex: <%= @cat.sex %>
  <br>
  color: <%= @cat.color %>
  <br>
  description: <%= @cat.description %> -->

  <table>
    <tr>
      <th>sex</th>
      <td><%= @cat.sex %></td>
    </tr>

    <tr>
      <th>age</th>
      <td><%= @cat.age %></td>
    </tr>

    <tr>
      <th>color</th>
      <td><%= @cat.color %></td>
    </tr>

    <tr>
      <th>description</th>
      <td><%= @cat.description %></td>
    </tr>

  </table>
